/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'wisdom_scriptregular';
    src: url('../fonts/wisdom_script_aj-webfont.woff2') format('woff2'),
         url('../fonts/wisdom_script_aj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

/*Icons*/
@font-face {
	font-family: 'themify';
	src:url('../fonts/themify.eot?-fvbane');
	src:url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/themify.woff?-fvbane') format('woff'),
		url('../fonts/themify.ttf?-fvbane') format('truetype'),
		url('../fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="soc-link-"], [class*=" soc-link-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.soc-link-twiter:before {
	content: "\e74b";
	display: inline-block;
}

.soc-link-facebook:before {
	content: "\e741";
	display: inline-block;
}

.soc-link-printest:before {
	content: "\e731";
	display: inline-block;
}

.soc-link-google:before {
	content: "\e73e";
	display: inline-block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrap {
    position: relative;
    max-width: 1400px;
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}

.sub-heading {
    font-family: 'Droid Serif', sans-serif;
    font-style: italic;
    text-transform: none;
}

p {
    margin: 5px 0;
    font-family: 'Roboto Slab';
    font-size: 1.4em;
    line-height: 1.5;
    letter-spacing: -0.35px;
    word-spacing: 0px;
    color: #777777;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.container:after, .row:after {
  content: "."; /* ÃÂ´ÃÂ¾ÃÂ±ÃÂ°ÃÂ²ÃÂ¸Ã‘â€šÃ‘Å’ Ã‘ÂÃÂ¾ÃÂ´ÃÂµÃ‘â‚¬ÃÂ¶ÃÂ¸ÃÂ¼ÃÂ¾ÃÂµ: "." */
  display: block;  /* Ã‘ÂÃÂ´ÃÂµÃÂ»ÃÂ°Ã‘â€šÃ‘Å’ ÃÂ±ÃÂ»ÃÂ¾ÃÂºÃÂ¾ÃÂ¼, Ã‘â€š.ÃÂº. inline ÃÂ½ÃÂµ ÃÂ¼ÃÂ¾ÃÂ¶ÃÂµÃ‘â€š ÃÂ¸ÃÂ¼ÃÂµÃ‘â€šÃ‘Å’ clear */
  clear: both;  /* Ã‘Â ÃÂ¾ÃÂ±ÃÂµÃÂ¸Ã‘â€¦ Ã‘ÂÃ‘â€šÃÂ¾Ã‘â‚¬ÃÂ¾ÃÂ½ clear */
  visibility: hidden; /* Ã‘ÂÃÂ´ÃÂµÃÂ»ÃÂ°Ã‘â€šÃ‘Å’ ÃÂ½ÃÂµÃÂ²ÃÂ¸ÃÂ´ÃÂ¸ÃÂ¼Ã‘â€¹ÃÂ¼, ÃÂ·ÃÂ°Ã‘â€¡ÃÂµÃÂ¼ ÃÂ½ÃÂ°ÃÂ¼ Ã‘â€šÃÂ¾Ã‘â€¡ÃÂºÃÂ° ÃÂ²ÃÂ½ÃÂ¸ÃÂ·Ã‘Æ’? */
  height: 0;  /* Ã‘ÂÃÂ´ÃÂµÃÂ»ÃÂ°Ã‘â€šÃ‘Å’ ÃÂ²Ã‘â€¹Ã‘ÂÃÂ¾Ã‘â€šÃ‘Æ’ 0, Ã‘â€¡Ã‘â€šÃÂ¾ÃÂ±Ã‘â€¹ ÃÂ½ÃÂµ ÃÂ·ÃÂ°ÃÂ½ÃÂ¸ÃÂ¼ÃÂ°ÃÂ» ÃÂ¼ÃÂµÃ‘ÂÃ‘â€šÃÂ¾ */
}

.row {
    margin-left: -25px;
    margin-right: -25px;
}

.col-3 {
    float: left;
    width: 33.33333%;
    padding: 0 18px;
    box-sizing: border-box;
}

.round {
    border-radius: 9999px;
}

.img-round {
    border-radius: 50%;
    text-align: center;
}

.b-lazy:not([class='b-lazy b-loaded']) {
	height: 64px;
	width: 64px;
	padding-top: 50%;
	/* padding-left: 50%; */
	margin-top: -32px;
	/* margin-left: -32px; */
}


.btn {
    display: inline-block;
    /* clear: both; */
    padding: 20px 54px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font-size: 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.btn-yellow {
    background-color: #fed136; 
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

header .container {
    padding: 20px;
}

.logo {
    float: left;
    padding: 0 6px;
}

.logo h1 {
    font-family: 'wisdom_scriptregular';
    font-size: 2.6em;
        font-weight: 400;
    letter-spacing: 1.5px;
    color: #fed136;
}

.nav {
    float: right;
}

.navigation {
    display: block;
    margin: 0;
    padding: 31px 0;
}

.navigation li {
    display: inline-block;
    margin-left: 37px;
    font-size: 1.4em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: white;
}

.navigation li a {
    text-decoration: none;
    color: inherit;
}

.home {
    position: relative;
    padding: 270px 0 160px;
    background-image: url('../img/home-bg.jpg' );
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    
}

/*dark opacity mask*/

.home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.home>* {
    position: relative;
    z-index: 1;
}

.home h2 {
    margin: 0;
    text-align: center;
    color: white;
}

.home .sub-heading {
    font-size: 4em;
    margin-bottom: 10px;
    letter-spacing: -1.4px;
    line-height: 1.2;
    font-weight: 100;
    color: white;
}

.home h2.welcome {
    margin-bottom: 25px;
    font-size: 7.5em;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: -2px;
    
}

section {
    padding-top: 115px;
    padding-bottom: 107px;
}

section h2 {
    margin: 0;
    margin-bottom: 17px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: -1.4px;
    text-transform: uppercase;
    color: #222222;
}

section .sub-heading {
    margin: 0;
    font-size: 1.6em;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    color: #777777;
    /* letter-spacing: -0.3px; */
    word-spacing: 0px;
}

.services .row {
    margin-top: 75px;
    text-align: center;
}

.services h4 {
    margin: 23px 0 0;
    letter-spacing: -0.5px;
}

.service-icon {
    display: inline-block;
    padding: 13px;
    border: 3px solid #FDD236;
    border-radius: 9999px;
}

.service-itm-desc {
    padding-top: 0px;
    margin: 8px 0;
}


.portfolio {
    padding-bottom: 70px;
    background-color: #f7f7f7;
}

.porfolio-list {
    margin: 75px -18px 0 -18px;
}

.porfolio-card {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-color: white;
    text-align: center;
}

.porfolio-card:before, .porfolio-card:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
    background-color: #f7f7f7;
}

.porfolio-card:before {
    left: 0;
}

.porfolio-card:after {
    right: 0;
}

.porfolio-card h4 {
    margin: 23px 0 0px;
    letter-spacing: -0.2px;
}

.porfolio-card h5 {
    font-size: 1.4em;
}

.porfolio-card-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 104%;
    background-color: #BBBBBB;
}

.porfolio-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.porfolio-card-img .b-lazy {
	left: 50%;
	margin-left: -32px;
}

.porfolio-card .b-loaded {
    width: 100%;
    height: 100%;
	left: 0;
	margin: 0;
}

.about-us  {}

.about-us .sub-heading {
    margin-top: -3px;
    letter-spacing: -0.3px;
}

.our-history {
    margin-top: 80px;
}

.our-history-item {
    position: relative;
    margin-bottom: 88px;
}

.our-history-item:last-child {
    margin-bottom: 0;
    text-align: center;
}

.our-history-item:last-child .img-round {
    height: 137px;
    width: 137px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FED136;
    line-height: 1.5;
    font-size: 1.8em;
    /* font-weight: bold; */
    text-transform: uppercase;
    color: white;
}

.our-history-item:last-child:after {
    display: none;
}

.our-history-item:after {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -10px;
    left: 50%;
    margin-left: -1px;
    display: block;
    width: 2px;
    height: 100px;
    background-color: #F2F2F2;
}

.our-history-item h4 {
    word-spacing: 0px;
    letter-spacing: 0;
}

.our-history-item:nth-of-type(2n) {
    text-align: right;
 
}

.our-history-item:nth-of-type(2n) .our-history-item-desc {
    float: right;
    margin-left: -93px;
    padding-left: 130px;
    padding-right: 50px;
    text-align: left;
}

.our-history-item:nth-of-type(2n+1) {
 
}

.our-history-item:nth-of-type(2n+1) .our-history-item-desc {
 margin-right: -93px;
 padding-right: 130px;
 padding-left: 80px;
 text-align: right;
}
.our-history-item .img-round {
    display: inline-block;
    overflow: hidden;
    border: 8px solid #F2F2F2;
    height: 167px;
    width: 167px;
    background: #bbbbbb;
}

.our-history-item .img-round img.b-loaded {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.our-history-item-desc {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.our-history-item-desc p {
    line-height: 1.7;
    /* font-size: 1.8em; */
}

.our-team {
    padding-top: 120px;
    padding-bottom: 113px;
    background-color: #F7F7F7;
    /* text-align: center; */
}

.our-team h2 {
    letter-spacing: -2px;
}

.team-row {
    margin-top: 80px;
    /* padding: 0 12.5%; */
}


.team-item {
    float: left;
    width: 28.3%;
    text-align: center;
}

.team-item:first-child {
  margin-left: 7.5%;
}

.team-item .img-round {
    display: inline-block;
    overflow: hidden;
    width: 220px;
    height: 220px;
    border: 8px solid white;
    background-color: #bbbbbb;
    /* box-sizing: border-box; */
}

.team-unit-name {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 1.6em;
    font-weight: bold;
}

.team-unit-pos {
    margin-top: 0;
    /* margin-bottom: 5px; */
}

.soc-links {
    margin-top: 7px;
    word-spacing: 0;
    text-align: center;
}

.soc-links>a {
    display: inline-block;
    height: 27px;
    width: 37px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
    border: 3px solid #222222;
    border-radius: 50%;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #222222;
}

.under-items-parag {
    margin: 40px auto 0;
    max-width: 650px;
    font-size: 1.6em;
    text-align: center;
}

.our-partners {
    padding: 65px 0;
    height: 170px;
    box-sizing: border-box;
    text-align: center;
}

.our-partners .container {
	text-align: center;
}

.our-partners .container a {
	margin: 0 10px;
}

.contact-us {
    padding-top: 108px;
    padding-bottom: 115px;
    background-image: url(../img/map-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.contact-us h2 {
    color: white;
}

.contact-us form {
    margin-top: 75px;
    /* width: 50%; */
    text-align: center;
}

.contact-us input[type='text'] {
    width: 48.7%;
    float: left;
    margin-bottom: 27px;
    margin-right: 2.7%;
    padding: 17px 22px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.6em;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    color: #bbbbbb;
}

.contact-us form textarea {
    display: inline-block;
    width: 48.5%;
    height: 214px;
    padding: 15px 20px;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    font-size: 1.6em;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    color: #bbbbbb;
}

.contact-us form .btn {
    display: block;
    clear: both;
    margin: 26px auto 0;
    padding: 20px 50px;
}

.footer .soc-links {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 12%;
    /* width: 50%; */
}

.footer .soc-links>a {
    background-color: #222222;
    color: white;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 32px;
}

.copy-right {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 1.4em;
    font-weight: normal;
    color: #555555;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}